<a href="https://colab.research.google.com/github/GabrielBuenoSathler/Aplicacao-jupiter/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import matplotlib.pyplot as plt
import  numpy  as np

import pandas as pd

train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [15]:
train_data.info()
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [16]:

import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

encoder = preprocessing.LabelEncoder()

In [17]:
# Import necessary libraries
import pandas as pd
from sklearn import preprocessing

# ... (your code to load and clean data) ...

# Create a LabelEncoder instance
encoder = preprocessing.LabelEncoder()

# List of columns to encode
columns_to_encode = ["Sex", "Ticket", "Cabin", "Embarked"]  # Corrected


# Iterate over the columns and apply Label Encoding
for column in columns_to_encode:
    # Check if the column exists in the DataFrame before encoding
    if column in train_data.columns:
        train_data[column] = encoder.fit_transform(train_data[column])
        test_data[column] = encoder.fit_transform(test_data[column])
    else:
        print(f"Warning: Column '{column}' not found in the DataFrame. Skipping encoding.")

In [19]:
len(train_data.columns)

train_data.info()


from sklearn.model_selection import train_test_split

y = train_data['Survived']
X = train_data.drop(['Survived'],axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int64
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    int64
 11  Embarked     891 non-null    int64
dtypes: float64(2), int64(9), object(1)
memory usage: 83.7+ KB

In [21]:
train_data = train_data.fillna(0)
test_data = test_data.fillna(0)

In [26]:

y_train = train_data['Survived']
X_train = train_data.drop(['Survived'],axis=1)

In [32]:
X_train.drop(['Name'], axis=1, inplace=True)

In [33]:
passenger_ids = test_data['PassengerId']
X_test = test_data.drop(['PassengerId'], axis=1)

# Treinar o modelo
model = LogisticRegression(max_iter=1000, random_state=42)
model.fit(X_train, y_train)

# Fazer previsões no conjunto de teste
test_predictions = model.predict(test_data)

# Garantir que as previsões são 0 ou 1
print("\nValores únicos nas previsões:", np.unique(test_predictions))

# Salvar as previsões em um arquivo CSV
output = pd.DataFrame({'PassengerId': passenger_ids, 'Survived': test_predictions})
output.to_csv('predictions.csv', index=False)
print("\nPrevisões salvas em 'predictions.csv'.")

Valores únicos nas previsões: [0 1]

Previsões salvas em 'predictions.csv'.